In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
527,tt0240890,28000000,77516304,Serendipity,John Cusack|Kate Beckinsale|Jeremy Piven|Bridg...,Peter Chelsom,Sometimes True Love Can Have More Than One Face.,Although strangers Sara and Jonathan are both ...,90,Comedy|Romance,Miramax Films|Tapestry Films|Simon Fields Prod...,10/5/2001,6.6,2001
1840,tt0192614,15000000,35007180,The Skulls,Joshua Jackson|Paul Walker|Hill Harper|Leslie ...,Rob Cohen,Getting in is easy. Getting out is a killer.,Luke's exultance at being selected for The Sku...,106,Crime|Drama|Thriller,Universal Pictures|Original Film|Newmarket Cap...,3/31/2000,5.9,2000
785,tt1655420,6400000,35057696,My Week with Marilyn,Michelle Williams|Eddie Redmayne|Kenneth Brana...,Simon Curtis,Sometimes You Just Need to Get Away,Sir Laurence Olivier is making a movie in Lond...,99,Drama,BBC Films|The Weinstein Company|UK Film Counci...,10/17/2011,6.7,2011
342,tt0775552,45000000,57881056,Aliens in the Attic,Carter Jenkins|Austin Butler|Kevin Nealon|Robe...,John Schultz,The aliens vs. the Pearsons,"It's summer vacation, but the Pearson family k...",86,Adventure|Comedy|Family|Fantasy|Science Fiction,Twentieth Century Fox Film Corporation|Regency...,7/31/2009,5.1,2009
738,tt1632708,35000000,150483765,Friends with Benefits,Justin Timberlake|Mila Kunis|Patricia Clarkson...,Will Gluck,Some friends come with a happy ending.,While trying to avoid the clichÃ©s of Hollywoo...,109,Comedy,Castle Rock Entertainment|Screen Gems|Olive Br...,7/21/2011,6.5,2011

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [19]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

In [193]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides'
# запишите свой вариант ответа

In [20]:
data[data.budget == data.budget.max()].original_title.iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [194]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals'

In [21]:
data[data.runtime == data.runtime.max()].original_title.iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [195]:
answers['3'] = '3. Winnie the Pooh'

In [23]:
data[data.runtime == data.runtime.min()].original_title.iloc[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [196]:
answers['4'] = '4. 110 min'

In [24]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [197]:
answers['5'] = '5. 107 min'

In [26]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [198]:
answers['6'] = '6. Avatar'

In [29]:
data[data.profit == data.profit.max()].original_title.iloc[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [199]:
answers['7'] = '7. The Lone Ranger'

In [46]:
data[data.profit == data.profit.min()].original_title.iloc[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [200]:
answers['8'] = '8. 1478'

In [33]:
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [201]:
answers['9'] = '9. The Dark Knight'

In [35]:
data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title.iloc[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [202]:
answers['10'] = '10. The Lone Ranger'

In [44]:
data[data.profit == data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].profit.min()].original_title.iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [203]:
answers['11'] = '11. Drama'

In [17]:
data = pd.read_csv('movie_bd_v5.csv')
genres_data = (data['genres'].str.split('|'))
data['genres'] = genres_data

In [33]:
genres = data.explode('genres')
genres.groupby(['genres'])['imdb_id'].count().sort_values(ascending=False)

genres
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: imdb_id, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [206]:
answers['12'] = '12. Drama'

In [21]:
genres = data.explode('genres')
genres_profitable = genres[(genres.profit>0)].groupby(['genres'])['imdb_id'].count().sort_values(ascending=False)
genres_profitable

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: imdb_id, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [207]:
answers['13'] = '13. Peter Jackson'

In [65]:
data.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [208]:
answers['14'] = '14. Robert Rodriguez'

In [176]:
data = pd.read_csv('movie_bd_v5.csv')
genres_list = (data['genres'].str.split('|'))
data['genres'] = genres_list
director_list = (data['director'].str.split('|'))
data['director'] = director_list
director_genres = data.explode('director').explode('genres')
director_genres[director_genres.genres == 'Action'].groupby(['director'])['imdb_id'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: imdb_id, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [209]:
answers['15'] = '15. Chris Hemsworth'

In [68]:
data = pd.read_csv('movie_bd_v5.csv')
actor_list = (data['cast'].str.split('|'))
data['cast'] = actor_list
cast_2012 = data[data.release_year == 2012].explode('cast')
cast_2012.groupby(['cast']).revenue.sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [210]:
answers['16'] = '16. Matt Damon'

In [70]:
cast_high_budget = data[data.budget > data.budget.mean()].explode('cast')
cast_high_budget.groupby(['cast']).revenue.count().sort_values(ascending=False)

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: revenue, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [211]:
answers['17'] = '17. Action'

In [191]:
data = pd.read_csv('movie_bd_v5.csv')
actor_list = (data['cast'].str.split('|'))
data['cast'] = actor_list
genres_list = (data['genres'].str.split('|'))
data['genres'] = genres_list
Nicolas_Cage = data.explode('cast')
Nicolas_Cage = Nicolas_Cage[Nicolas_Cage.cast == 'Nicolas Cage']
Nicolas_Cage.explode('genres').groupby('genres').imdb_id.count().sort_values(ascending=False)

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: imdb_id, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [212]:
answers['18'] = '18. K-19: The Widowmaker'

In [116]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
prod_company_list = (data['production_companies'].str.split('|'))
data['production_companies'] = prod_company_list
Paramount_Pictures = data.explode('production_companies')
Paramount_Pictures[Paramount_Pictures.production_companies == 'Paramount Pictures'].sort_values(by = 'profit').head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures,4/24/2007,5.9,2007,-51788987
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures,10/22/2004,5.4,2004,-46604061
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures,2/27/2004,5.7,2004,-24805000

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [213]:
answers['19'] = '19. 2015'

In [117]:
data.groupby('release_year').profit.sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [214]:
answers['20'] = '20. 2014'

In [145]:
Warner_Bros = data.explode('production_companies')
Warner_Bros = Warner_Bros[Warner_Bros.production_companies.str.contains("Warner")]
Warner_Bros.groupby('release_year').profit.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2208217007
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1595278228
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     617151739
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [215]:
answers['21'] = '21. 9'

In [167]:
data_month = data.copy()
data_month['release_date'] = data_month.release_date.str.split('/')
data_month['month'] = data_month['release_date'].apply(lambda x: x[0])
data_month.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [224]:
display(answers)

{'12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. 9',
 '1': '1. Pirates of the Caribbean: On Stranger Tides',
 '2': '2. Gods and Generals',
 '3': '3. Winnie the Pooh',
 '4': '4. 110 min',
 '5': '5. 107 min',
 '6': '6. Avatar',
 '7': '7. The Lone Ranger',
 '8': '8. 1478',
 '9': '9. The Dark Knight',
 '10': '10. The Lone Ranger',
 '11': '11. Drama'}

In [225]:
len(answers)

21